.logout-button {
    margin: 20px auto;
    float: inline-end; 
}

.modal-90w {
    max-width: 90%;
}

.backButton {
    padding: 4px 12px 4px 12px;
    color: whitesmoke;
    background-color: dodgerblue;
    border: none;
    border-radius: 4px;
}

