.logout-button {
    margin: 20px auto;
    float: inline-end; 
}


 //.masonry-container {
      /* display: flex;  
       flex-wrap: wrap; 
       column-count: 3;
       column-gap: 15px;
       width: 100%;
        //grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
        /* Adjust column width as needed */
       //grid-auto-rows: masonry;
        /* Enable masonry behavior */
        //gap: 10px;
        /* Add spacing between items }*/

.masonry-item {
display: inline-block;
width: 100%;
margin-bottom: 16px;
break-inside: avoid; 
gap: 10px;
}

.MovieCard {
   height: 400px;
    /* Set a fixed height */
    display: flex;
    flex-direction: column;
}
