.MovieCard {
        box-shadow: 0px 2px 5px rgba(16, 45, 68, 0.905);
            border-radius: 10px;
            margin-bottom: 10px;
            height: 100%;
}

.smallCard {
    .card {
        height: 50%;
        width: 50%;
        font-size: 0.85rem;

        img {
            height: 120px;
            object-fit: cover;
        }
    }
}